:root {
   --primary-color: #162bc0;
   --secondary-color: #1680c0;
   --tertiary-color: #5616c0;
   --quarternary-color: #fdfeff;
   --default: #020410;
}

body {
   background-color: var(--quarternary-color);
}

/* Template */
#header {
   background-color: var(--secondary-color);
   color: var(--quarternary-color);
   font-size: 40px;
   width: 100vw;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#footer {
   background-color: var(--tertiary-color);
   color: var(--quarternary-color);
   font-size: 15px;
   width: 100vw;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 0;
}

/* Login and Register */
/* #login-container, #register-container {
   position: relative;
} */

.body-container {
   padding: 50px;
}

.body-container .body-box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: auto;
   width: 25vw;
   border-radius: 10px;
   border: 1px solid #68696e;
}

.body-container .body-box h3 {
   background-color: var(--primary-color);
   width: 100%;
   padding: 10px 0;
   color: var(--quarternary-color);
   font-size: 20px;
   border-radius: 10px 10px 0 0;
}

.body-container .body-box .form-box {
   margin: 20px;
}

.body-container .body-box .form-box .input-box input {
   margin: 10px 0;
   font-size: 15px;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #68696e;
}

.body-container .body-box .form-box button {
   background-color: var(--primary-color);
   color: var(--quarternary-color);
   font-size: 18px;
   margin: 10px 0 5px;
   padding: 10px 20px;
   border-radius: 30px;
   border: none;
}

.body-container .body-box p {
   margin: auto auto 10px;
}

.body-container .body-box p a {
   color: var(--primary-color);
}

.body-container .body-box p a:visited {
   color: var(--primary-color);
}

/* Register */
#register-container #register-body {
   padding-bottom: 70px;
}